<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%X{req.traceId} %X{req.spanId} %X{req.ssoId}] --- [%t] %c{1} %line -
                %replace(%msg){'[\r\n]+|\n', ' '}%n
            </pattern>
        </encoder>
    </appender>
    <logger name="com.example" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
